<div class="panel panel-default">
  <div class="panel-body text-center">
    <div class="alert alert-success" role="alert">
    <p><b>Thank you!</b> We have received your message and will respond as soon as possible.</p>
    </div>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<%= link_to 'Back', '/' %>