<table>
  <tbody>
    <tr>
      <td><h2>Bike Berlin</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for your order!</p></td>
    </tr>
    <tr>
      <td>
        <p><%= @product.name %></p><br>
          <p>Price: <b>$<%= @product.price %></b></p><br>
       </td>
    </tr>
  </tbody>
</table>