
  <h1>Thank you!</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Thank you very much for your purchase.</p>
        <p>Click the button if you'd like to take a look on some other products!</p>
        <%= link_to 'Browse products', products_url, class: "btn btn-default" %>
      </div>
    </div>
  </div>
