// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
	padding-bottom: 20px;
}

.product {
	text-align: center;
	color: #9d9d9d;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.product a {
	color: #9d9d9d;
	transition: color 600ms;
	-webkit-transition: color 600ms;	
}

.product-options {
	padding-bottom: 30px;
}

// show page of product

.product-presentation h3, h4 {
	padding-top: 20px;
}

.product-presentation p {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
	font-weight: 50;
}