<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  	<div class="container">
	  		<div class="navbar-header">
	  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			  	</button>
		  		<div class="navbar-brand">
			    <a href="#">Bike Berlin</a>
			  	</div> <!--end projectName -->
			</div> <!--end navbar-header -->
		    <div class="navbar-collapse collapse">
		      	<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">Home</a></li>
					<li><a href="#contact">About</a></li>
					<li><a href="#work">Contact</a></li>
		      	</ul>
		    </div> <!-- nav -->
	  	</div> <!-- end nav container-->
  	</nav> <!-- end navbar-->

  	<div id="wrap">
	<%= yield %>
	<div id="push"></div>  		
  	</div>

	<footer id="footer">
		<div class="container">
        &copy; 2016 Bike Berlin
        </div>
	</footer>
	
</body>
</html>
